.App {
	text-align: center;
}

.app__form {
	padding: 20px;
	position: fixed;
	bottom: 0px;
	z-index: 1;
	background-color: #e9e9eb;
	width: 90%;
}

.app__formControl {
	display: flex !important;
	flex-direction: row !important;
	margin: 20px;
	width: 100%;
}

.app_input {
	flex: 1;
}

.app__iconButton {
	position: relative;
	bottom: 30px;
	width: 60%;
	border-radius: 3px;
	padding: 20px;
}
